button, input[type="submit"] {
    background-color: darkred;
    color: lightyellow;
    text-transform: uppercase;
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px;
}
body {
    padding: 0;
    margin: 0;
}
.App {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
    min-height: 100vh;
}
#root {
    background-color: tan;
}
h1 {
    margin-left: 10px;
}
.form-credentials {
    margin-left: 10px;
}
.form-credentials input {
    display: block;
    margin-bottom: 10px;
}
.form-credentials button[type="submit"] {
    margin-left: 0;
}
.error {
    background-color: red;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    width: fit-content;
    width: -moz-fit-content;
}
.button-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}