button, input[type="submit"] {
    background-color: darkred;
    text-transform: uppercase;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    border: none;
    padding: 8px 13px;
    transition: 0.3s;
    color: white;
    font-size: 16px;
}
button:focus {
    outline: none;
}
button:hover {
    transform: scale(1.05);
}
body {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    margin-left: auto;
    margin-right: auto;
    background-color: #ebedc8;
    min-height: 100vh;
}
.form-credentials {
    display: flex;
    flex-direction: column;
}
.form-credentials input {
    display: block;
    margin-bottom: 10px;
}
.form-credentials button[type="submit"] {
    margin-left: 0;
}
.form-credentials button {
    width: min-content;
}
.error {
    margin-bottom: 5px;
    width: fit-content;
    width: -moz-fit-content;
    border-radius: 5px;
    border: 2px solid #ff304f;
    background-color: #ffdddd;
    color: #ff304f;
    padding: 3px 8px;
}
.error::before {
    content: "⚠️ ";
}
.button-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Login,
.Register,
.Profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Login form,
.Register form,
.Profile form{
    border-radius: 5px;
    padding: 40px 40px 20px;
    display: flex;
    box-shadow: 5px 5px 10px #cfd1b0, -5px -5px 10px #ffffe0;
    transition: 0.3s;
}
.Profile form {
    margin-top: 10px;
    margin-bottom: 10px;
}
input, select, textarea {
    border-radius: 5px;
    padding: 8px 10px;
    border: 2px solid transparent;
    transition: 0.3s;
    font-size: 16px;
}
input:hover {
    border: 2px solid #b7b2c4;
}
input:focus {
    border-radius: 5px;
    border: 2px solid #74698c;
    outline: none;
}
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 30px;
    }
    span, a, td, th, select, label, textarea, .error {
        font-size: 20px;
    }
    button, input {
        font-size: 20px;
    }
    .players th, .players td {
        width: 30vw;
    }
    .players input{
        padding: 0;
        width: 90%;
    }
    input[type="submit"] {
        font-size: 20px;
    }
    .board td span {
        font-size: 30px;
    }
}

@media only screen and (max-width: 360px) {
    .Navbar {
        justify-content: center;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 25px;
    }
    span, a, td, th, label, textarea, .error {
        font-size: 20px;
    }
    button, input, select, textarea {
        font-size: 15px;
    }
    input[type="submit"] {
        font-size: 15px;
    }
    .Home form {
        flex-direction: column;
        display: flex;
    }
    td, td span, th, td a, .Conversation span {
        font-size: 15px;
    }
    .players th, .players td {
        width: 30vw;
    }
    .players input{
        padding: 0;
        font-size: 10px;
        width: 90%;
    }
    .board td span {
        font-size: 20px;
    }
    .board td {
        width: 30px;
        height: 30px;
    }
}