.board {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 5px;
    border-collapse: separate;
}
.board td {
    width: 50px;
    height: 50px;
    background-color: forestgreen;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    border: none;
}
td.village {
    background-color: saddlebrown;
    font-size: 40px;
    text-align: center;
}
td.village.you {
    background-color: white;
}
.village a {
    text-decoration: none;
    color: black;
}
.name-popup {
    font-size: initial;
    position: absolute;
    z-index: -1;
    left: -60px;
    top: -25px;
    background-color: grey;
    display: block;
    padding: 10px;
    width: 150px;
    opacity: 0;
    transition: 0s all step-end;
}
.name-popup.you {
    font-style: italic;
}
td:hover .name-popup {
    transition-delay: 1s;
    opacity: 1;
    z-index: 1;
}
.name-popup span {
    display: block;
}

.players {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border-radius: 5px;
}
.players tr:nth-of-type(odd) {
    background-color: lightgrey;
}
.players tr:nth-of-type(even) {
    background-color: white;
}
.players tr:first-child {
    background-color: white;
}
.players td, .players th {
    padding: 3px;
}
.players th {
    text-align: left;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    background-color: tan;
}
.players .player-you td {
    background-color: lightsteelblue;
}
.players a {
    text-decoration: none;
    font-style: italic;
    color: black;
}
.World h1, .World h3 {
    text-align: center;
    margin-left: 0;
}