.board {
    border-collapse: collapse;
}
.board td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    background-color: forestgreen;
    position: relative;
    user-select: none;
    -moz-user-select: none;
}
td.village {
    background-color: saddlebrown;
    font-size: 40px;
    text-align: center;
}
td.village.you {
    background-color: white;
}
.village a {
    text-decoration: none;
    color: black;
}
.name-popup {
    font-size: initial;
    position: absolute;
    z-index: -1;
    left: -60px;
    top: -25px;
    background-color: grey;
    display: block;
    padding: 10px;
    width: 150px;
    opacity: 0;
    transition: 0s all step-end;
}
.name-popup.you {
    font-style: italic;
}
td:hover .name-popup {
    transition-delay: 1s;
    opacity: 1;
    z-index: 1;
}
.name-popup span {
    display: block;
}

.players {
    border-collapse: collapse;
}
.players td, .players th {
    border: 1px solid black;
    text-align: left;
}
.players th {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}